{% extends "_base.html" %}

{% load i18n %}

{% load htmlforms %}

<!-- Title prefix -->
{% block title_prefix %}{% translate "Set Password" context "web page title prefix" %}{% endblock %}

<!-- Content heading -->
{% block content_heading %}
  <div class="heading-page-top page-content-medium"
  >{% translate "Set Password" context "web page heading" %}</div>
{% endblock %}

<!-- Content body -->
{% block content_body %}

  <!-- Form -->
  <div class="mx-auto page-content-very-narrow">
    <form action="{% url 'account_set_password' %}" method="post">
      <div class="d-grid gap-1">

        <!-- Errors -->
        {% form_errors form %}

        <!-- Fields -->
        <di class="d-grid gap-1">

          <!-- Password field 1 -->
          {% translate "Password" context "password setting form field label" as password_field_1_label %}
          {% password_field form.password1 password_field_1_label autocomplete="new-password" %}

          <!-- Password field 2 -->
          {% translate "Password (again)" context "password setting form field label" as password_field_2_label %}
          {% password_field form.password2 password_field_2_label autocomplete="new-password" %}

        </div> <!-- End of fields -->

        <!-- Button -->
        <button
          class="btn btn-primary text-break whitespace-preserve" name="action"
        >{% translate "Set Password" context "password setting form button" %}</button>

      </div>
      {% csrf_token %}
      {% hidden_fields form %}
    </form>
  </div> <!-- End of form -->

{% endblock %} <!-- End of content body -->
