{% extends "_base.html" %}

{% load i18n %}

{% load htmlforms %}

<!-- Title prefix -->
{% block title_prefix %}{% translate "Password Reset" context "web page title prefix" %}{% endblock %}

<!-- Content heading -->
{% block content_heading %}
  <div class="heading-page-top page-content-medium"
  >{% translate "Password Reset" context "web page heading" %}</div>
{% endblock %}

<!-- Content body -->
{% block content_body %}
  <div class="d-grid gap-1">

    <!-- Message -->
    <div
      class="mx-auto page-content-medium text-break text-center whitespace-preserve"
    >{% translate "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</div>

    <!-- Form -->
    <div class="mx-auto page-content-very-narrow">
      <form action="{% url 'account_reset_password' %}" method="post">
        <div class="d-grid gap-1">

          <!-- Errors -->
          {% form_errors form %}

          <!-- Email field -->
          {% translate "E-mail" context "password reset email sending email field label" as email_field_label %}
          {% email_field form.email email_field_label autocomplete="email" %}

          <!-- Button -->
          <button class="btn btn-primary text-break whitespace-preserve"
          >{% translate "Reset Password" context "password reset email sending button" %}</button>

        </div>
        {% csrf_token %}
        {% hidden_fields form %}
      </form>
    </div> <!-- End of form -->

  </div>
{% endblock %} <!-- End of content body -->
