{% extends "_base.html" %}

{% load i18n %}

<!-- Title prefix -->
{% block title_prefix %}{% translate "Password Reset" context "web page title prefix" %}{% endblock %}

<!-- Content heading -->
{% block content_heading %}
  <div class="heading-page-top page-content-medium"
  >{% translate "Password Reset" context "web page heading" %}</div>
{% endblock %}

<!-- Content body -->
{% block content_body %}

  <!-- Message -->
  <div
    class="mx-auto page-content-medium text-break text-center whitespace-preserve"
  >{% translate "We have sent you an e-mail. If you have not received it please check your spam folder." %}</div>

{% endblock %} <!-- End of content body -->
