{% extends "_base.html" %}

{% load i18n %}

{% load htmlforms %}

<!-- Title prefix -->
{% block title_prefix %}{% translate "Change Password" context "web page title prefix" %}{% endblock %}

<!-- Content heading -->
{% block content_heading %}
  <div class="heading-page-top page-content-medium"
  >{% if token_fail %}{% translate "Invalid Link" context "password reset web page heading" %}{% else %}{% translate "Change Password" context "web page heading" %}{% endif %}</div>
{% endblock %}

<!-- Content body -->
{% block content_body %}

  <!-- Content body for invalid token -->
  {% if token_fail %}

    <!-- Message -->
    {% url "account_reset_password" as passwd_reset_url %}
    {% with link_start_tag='<a class="text-break whitespace-preserve" href="'|add:passwd_reset_url|add:'">'|safe %}
    {% with link_end_tag="</a>"|safe %}
      <div
        class="mx-auto page-content-medium text-break text-center whitespace-preserve"
      >{% blocktranslate %}The password reset link was invalid, possibly because it has already been used. Please request a {{ link_start_tag }}new password reset{{ link_end_tag }}.{% endblocktranslate %}</div>
    {% endwith %}{% endwith %}

  <!-- Content body for valid token -->
  {% else %}

    <!-- Form -->
    <div class="mx-auto page-content-very-narrow">
      <form action="{{ action_url }}" method="post">
        <div class="d-grid gap-1">

          <!-- Errors -->
          {% form_errors form %}

          <!-- Fields -->
          <div class="d-grid gap-1">

            <!-- Password field 1 -->
            {% translate "New Password" context "password reset form field label" as password_field_1_label %}
            {% password_field form.password1 password_field_1_label autocomplete="new-password" %}

            <!-- Password field 2 -->
            {% translate "New Password (again)" context "password reset form field label" as password_field_2_label %}
            {% password_field form.password2 password_field_2_label autocomplete="new-password" %}

          </div> <!-- End of fields -->

          <!-- Button -->
          <button
            class="btn btn-primary text-break whitespace-preserve" name="action"
          >{% translate "Change password" context "password reset form button" %}</button>

        </div>
        {% csrf_token %}
        {% hidden_fields form %}
      </form>
    </div> <!-- End of form -->

  {% endif %} <!-- End of content body for valid token -->

{% endblock %} <!-- End of content body -->
